{% extends 'base_admin.html' %}


{% block title %}
    ATR_CIR
{% endblock title %}

{% block content_admin %}
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Atraccion-Circuito</h1>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a href="{% url 'Add_atr_cir' %}" class="btn btn-primary">Nuevo +</a>
            </div>
            <div class="card-body">
                {% if messages %}
                    <div class="row mt-3 mb-3">
                        <div class="col-12">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Atraccion
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Ciudad-Atraccion
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Pais-Atraccion
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Circuito
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Rally-Circuito
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Ciudad-Circuito
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Pais-Circuito
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Orden
                                    </div>
                                </th>
                                <th>
                                    <div class="d-flex justify-content-center">
                                        Opciones
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if obj %}
                                {% for pice in obj %}
                                    <tr>
                                        <td>{{pice.id_atraccion}}</td>
                                        <td>{{pice.id_ciudad_at}}</td>
                                        <td>{{pice.id_pais_at}}</td>
                                        <td>{{pice.id_circuito}}</td>
                                        <td>{{pice.id_rally_cir}}</td>
                                        <td>{{pice.id_ciudad_cir}}</td>
                                        <td>{{pice.id_pais_cir}}</td>
                                        <td>{{pice.orden}}</td>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <a href="{% url 'Delete_atr_cir' pice.id_atraccion pice.id_ciudad_at pice.id_pais_at pice.id_circuito pice.id_rally_cir pice.id_ciudad_cir pice.id_pais_cir %}">
                                                    <i class="far fa-trash-alt"></i>
                                                </a>
                                                <a href="{% url 'Edit_atr_cir' pice.id_atraccion pice.id_ciudad_at pice.id_pais_at pice.id_circuito pice.id_rally_cir pice.id_ciudad_cir pice.id_pais_cir %}" class="offset-1">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content_admin %}