<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Travel.ve - {% block title %}{% endblock %}</title>

    {% load static %}

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/admin.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-text mx-3">Travel.ve</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <div class="sidebar-heading">
                Mantenimineto
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages1"
                    aria-expanded="true" aria-controls="collapsePages1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Agencias</span>
                </a>
                <div id="collapsePages1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Show_Agencia_de_viajes' %}">Agencias de Viajes</a>
                        <a class="collapse-item" href="{% url 'Show_AGE_AGE' %}">Socios</a>
                        <a class="collapse-item" href="{% url 'Registrar_nuevo_socio_proveedor' %}">+ Nuevo Socio Proveedor</a>
                        <a class="collapse-item" href="{% url 'Show_pro_age' %}">Hist. Proveedores</a>
                        <a class="collapse-item" href="{% url 'Show_Proveedores' %}">Proveedores</a>
                        <a class="collapse-item" href="{% url 'Show_Alojamientos' %}">Alojamientos</a>
                        <a class="collapse-item" href="{% url 'Show_Asesores_de_viajes' %}">Asesores de Viaje</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages4"
                    aria-expanded="true" aria-controls="collapsePages4">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Clientes</span>
                </a>
                <div id="collapsePages4" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Registrar_nuevo_cliente' %}">+ Nuevo Cliente</a>
                        <a class="collapse-item" href="{% url 'Show_Clientes' %}">Clientes</a>
                        <a class="collapse-item" href="{% url 'Show_Registro_clientes' %}">Registro Clientes</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesX1"
                    aria-expanded="true" aria-controls="collapsePagesX1">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Viajeros</span>   
                </a>
                <div id="collapsePagesX1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Registrar_nuevo_viajero' %}">+ Nuevo Viajeros</a>
                        <a class="collapse-item" href="{% url 'Show_Viajeros' %}">Viajeros</a>
                        <a class="collapse-item" href="{% url 'Show_PAI_VIA' %}">Viajero: Pasaporte</a>
                        <a class="collapse-item" href="{% url 'Show_Registro_viajeros' %}">Registro Viajeros</a>
                        <a class="collapse-item" href="{% url 'Show_Detalle_viajeros' %}">Detalle Viajeros</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages2"
                    aria-expanded="true" aria-controls="collapsePages2">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Paquetes</span>
                </a>
                <div id="collapsePages2" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'paquete_datos_basicos' %}">+ Nuevo Paquete</a>
                        <a class="collapse-item" href="{% url 'Show_Paquetes' %}">Paquetes</a>
                        <a class="collapse-item" href="{% url 'Show_Paquetes_contrato' %}">Paquetes contratos</a>
                        <a class="collapse-item" href="{% url 'Show_Areas_de_interes' %}">Areas de Interes</a>
                        <a class="collapse-item" href="{% url 'Show_Especializaciones' %}">Especializaciones</a>
                        <a class="collapse-item" href="{% url 'Show_Precios_paquetes' %}">Precio Paquete</a>
                        <a class="collapse-item" href="{% url 'Show_Calendarios_anuales' %}">Calendarios Anulaes</a>
                        <a class="collapse-item" href="{% url 'Show_Descuentos' %}">Descuentos</a>
                        <a class="collapse-item" href="{% url 'Show_Intinerarios' %}">Intinerarios</a>
                        <a class="collapse-item" href="{% url 'Show_ITN_ATR' %}">Intinerario - Atraccion</a>
                        <a class="collapse-item" href="{% url 'Show_ALO_DET' %}">Alojamiento - Detalle</a>
                        <a class="collapse-item" href="{% url 'Show_Detalles_servicios' %}">Detalle Servicios</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages3"
                    aria-expanded="true" aria-controls="collapsePages3">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Rallies</span>
                </a>
                <div id="collapsePages3" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Show_rallies' %}">Rallies</a>
                        <a class="collapse-item" href="{% url 'Show_premios' %}">Premios</a>
                        <a class="collapse-item" href="{% url 'Show_Circuitos' %}">Circuitos</a>
                        <a class="collapse-item" href="{% url 'Show_atr_cir' %}">Atraccion - Circuito</a>
                        <a class="collapse-item" href="{% url 'Show_Cupos' %}">Cupos</a>
                        <a class="collapse-item" href="{% url 'Show_Participantes' %}">Paricipantes</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesX"
                    aria-expanded="true" aria-controls="collapsePagesX">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Pagos</span>
                </a>
                <div id="collapsePagesX" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Show_bancos' %}">Bancos</a>
                        <a class="collapse-item" href="{% url 'Show_Instrumentos_de_pago' %}">Instrumentos de pago</a>
                        <a class="collapse-item" href="{% url 'Show_Formas_de_pago' %}">Forma de pago</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages5"
                    aria-expanded="true" aria-controls="collapsePages5">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Lugares</span>
                </a>
                <div id="collapsePages5" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Show_paises' %}">Paises</a>
                        <a class="collapse-item" href="{% url 'Show_Ciudades' %}">Ciudades / Localidades</a>
                        <a class="collapse-item" href="{% url 'Show_Atracciones' %}">Atracciones</a>
                        <a class="collapse-item" href="{% url 'Show_Puntuaciones' %}">Puntuaciones</a>
                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Salir
                            </a>

                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->


                {% block content_admin %}

                {% endblock content_admin %}


                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            <a href="https://github.com/cdevalero/travel_ve">
                                Github
                            </a>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seguro que quiere salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/">Confirmar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/admin.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>