{% extends 'base_admin.html' %}

{% block title %}
    Form Instrumentos_de_pago
{% endblock title %}

{% load crispy_forms_tags %}

{% block content_admin %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Instrumentos_de_pago</h1>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <a href="{% url 'Show_Instrumentos_de_pago' %}" class="btn btn-primary" >Volver</a>
      </div>
      <div class="card-body">
        {% if messages %}
          <div class="row mt-3 mb-3">
              <div class="col-12">                    
                  {% for message in messages  %}
                      <div class="alert alert-{{ message.tags }}">
                          {{ message }}
                      </div>
                  {% endfor %}                       
              </div>
          </div>           
        {% endif %}
        <form action="" method="post" class="mt-2" autocomplete="off">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" formaction="{% url 'Ventas_intrumento_1' %}" class="btn btn-success">Crear!</button>
            <button type="submit" formaction="{% url 'Ventas_intrumento_2' %}" class="btn btn-success">Agregar Otro metodo de pago!</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content_admin %}